<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MainPage</title>
</head>
<body>
    <div>
        <form action="result" th:action="@{/result}" th:object="${chainPath}" method="post">

                <input type="text" th:filed="*{startWord}" name="startWord"/>
                <input type="text" th:field="*{endWord}" name="endWord"/>

            <input type="submit" value="FIND CHAIN PATH"/>
        </form>
    </div>
</body>
</html>